{
  "extends": "rallycoding",
  "rules": {
    "arrow-body-style": 0,
    "semi": 0,
    "no-underscore-dangle": 0,
    "max-len": 0,
    "no-param-reassign": 0
  },
  "globals": {
        "navigator": true
    }
}
